#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --webkit-font-smoothing: antialiased;
}

.card {
  padding: 2em;
}

.header {
  text-align: center;
  padding: 2rem;
  background-color: #282c34;
  color: white;

  width: 100%;
  height: auto;
}

.header h1 {
  font-size: 2.0arem;
  margin: 0;
}

.pfp {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
}

.list-socials {
  padding: 0;
  margin: 0;
  gap: 1rem;

  list-style: none;
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;

  flex-direction: row;
}

.list-socials a {
  font-size: 2.5rem;

  width: auto;
  height: 100%;

  text-decoration: none;
  color: white;
}

.list-socials a:hover {
  color: #388ee4;
  transition: all 0.3s ease;
}

.list-skills li {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 9999px; /* deixa o formato de pílula */
  border: 3px solid rgba(51, 99, 28, 0.3);
  background-color: rgba(36, 70, 21, 0.3);
  color: #ccc;
  font-size: 14px;
  font-weight: 500;
  margin-right: 8px;
  backdrop-filter: blur(6px); /* dá o efeito de vidro suave */
  transition: all 0.2s ease;
  list-style: none;
  display: inline-block;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #181818;
  margin: 1rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.50rem;
}

.content p {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.6;
  margin-top: 0.5rem;
}

.Projeto {
  width: 90%;
  height: auto;

  text-align: left;
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  
  align-content: stretch;
}
  
.Projeto a{
  color: inherit;
  text-decoration: none;
  font-size: 1.75rem;}

  

/* Código HTML exemplo (uiverse) */
.card {
  height: auto;
  width: 30%;

  padding: 15px;
  margin: 10px;

  border: 1px solid #0d1117;
  border-radius: 10px;
  background-color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.code-editor {
  background-color: #0d1117;
  color: #dcdcdc;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 5px;
  padding: 15px;
  overflow: auto;
  height: 160px;
  border: 1px solid #333;
}

.code-editor::-webkit-scrollbar {
  width: 4px;
}

.code-editor::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

.code-editor pre code {
  white-space: pre-wrap;
  display: block;
}


/* Responsive Design */
@media  (max-width: 768px) {
  .card {
    width: 80%;
    align-items: center;
  }

.content {
  width: 100%;
  height: auto;
  gap: 0.50rem;

  flex-direction: column;
}

.header h1 {
  font-size: 1.5rem;
  margin: 0;
}

.list-skills li {
  font-size: 0.80rem;
  padding: 0.40rem;
  margin: 2px;

  align-items: center;
  justify-content: center;

}

.header p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.header {
  padding: 3rem 2rem;
  background-color: #20232a;
  color: white;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}

.pfp {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

}
