:root {
  width: 100%;
  height: 100%;

  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.header {
  width: 30%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: left;

  background-color: #2b2b2b;
  border-radius: 10px;

  padding: 0.25em;
}

.pfp {
  width: 250px;
  height: 250px;

  margin: 10px auto;

  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.list-socials {
  list-style: none;
  flex-direction: column;
}